<% provide(:title, @user.name) %>

<div class="row-fluid">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, size: 100 %>
				<%= @user.name %>	
			</h1>
			<% if @user.posts.any? %>
				<h3 style="text-align: right">Posts (<%= @user.posts.count %>)</h3>
		</section>
	</aside>
	<div class="span8">
			<ol class="posts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
		<% end %>
	</div>
</div>
