<a href="<%= user_path(current_user) %>">
	<%= gravatar_for current_user, size: 150 %>
</a>
<h1 style="text-align: right; margin: 8px;"><%= current_user.name %></h1>
<h4 style="text-align: right"><%= link_to "view posts", current_user %></h4>
<h4 style="text-align: right; padding-top: 5px"><%= pluralize(current_user.posts.count, "Post") %></h4>