<a href="<%= user_path(current_user) %>">
	<%= gravatar_for current_user, size: 150 %>
</a>
<h1 style="text-align: left; margin: 8px;"><%= current_user.name %></h1>
<span><%= link_to "view posts", current_user %></span>
<span><%= pluralize(current_user.posts.count, "Post") %></span>